body {
    margin: 25px;
    color: #a7a3a4;
}
h1 {
    margin-bottom: 70px;
}
/* click */
.done {
    text-decoration: line-through;
    color: green;
}
ul {
    cursor: pointer;
}
/* mouseover */
#btn, .mouseover {
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    background-color: inherit;
    box-shadow: 0 .3rem 1rem 0 grey;
}
.btnStyle {
    background-color: black;
    color: white;
}
/* focus */
.focusBg {
    background-color: lightblue;
    border: 1px solid black;
}
/* copy & paste */ 
span {
    text-decoration: underline;
}
.hide {
    text-decoration: none;
}
/* dragenter */
h2 {
  color: #000;
}
[data-drop-target] {
    height: 100px;
    width: 100px;
    margin: 25px;
    background-color: gainsboro;
    }
    .drag-enter {
      border: 2px dotted navy;
    }
    .box {
    width: 100px;
    height: 100px;
    opacity: 0.8;
    position: relative;
    }
    .img {
    background-color: peachpuff;
    }
/* submit */
.colorInvalid {
    border: 2px solid red;
}
.colorValid {
    border: 2px solid green;
}